*
{
	margin:						0;
	padding:					0;
	font-size:					10px;
}

body
{
	display:					flex;
	justify-content: 			space-around;
	align-items: 				center;
	
	height:						100vh;
	width: 						100vw;
}


#BOX_1
{
	height:						10vh;
	width:						10vw;
	
	
	background-color: 			red;
}


#BOX_2
{
	height:						10vh;
	width:						10vw;
	
	
	background-color: 			lightblue;
}


#CIRCLE_1
{
	display:					flex;
	justify-content: 			center;
	align-items: 				center; 
	width:						100px;
	height: 					100px;
	
	border-radius: 				50%;
	
	background-color:			pink;
	border:						2px solid black;
	
	font-size:					1.5rem;
	color:						white;
	
	transition:					2s;
}


#CIRCLE_1:hover				
{
	background-color:			purple;
	transform: 					rotate(360deg);
}




